@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SBL-Hebrew';
    src: url('./assets/fonts/SBL_Hbrw.ttf') format('truetype');
    font-weight: normal;
  }

  @font-face {
    font-family: 'SBL-Greek';
    src: url('./assets/fonts/SBL_grk.ttf') format('truetype');
    font-weight: normal;
  }

  dialog {
    inset-inline-start: unset;
    inset-inline-end: unset;
  }
}

@layer components {
  .lexicon-greek {
    @apply font-greek text-lg;
  }
}
